[submodule "RL-OtherApps/CybroAddons"]
	path = RL-OtherApps/CybroAddons
	url = git@github.com:RL-OtherApps/CybroAddons.git
	branch = 13.0

[submodule "OCA/hr-attendance"]
	path = OCA/hr-attendance
	url = git@github.com:OCA/hr-attendance.git
	branch = 13.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 13.0
